src/main/resources/application.properties
bin/
src/main/resources/static/f/archimate01/dHealth-Telemedicine-eHealth-2.archimate.xml
src/main/resources/static/f/archimate01/dHealth-Telemedicine-eHealth-2.archimate.xml.bak
src/main/resources/static/f/archimate01/dHealth-telemedicine.archimate-2.xml
src/main/resources/static/f/conf3/.i.js.swp
src/main/resources/static/f/archimate01/regulations-data-model.archimate.xml
