<span data-ng-if="ctrl.sql_app[ctrl.conf.sqlKeyName].ontology_link_param" class="w3-right w3-tiny">
    <a href="{{ctrl.conf.ontology_link}}{{ctrl.sql_app[ctrl.conf.sqlKeyName].ontology_link_param}}">
        ontology</a>
    |</span>
<div style="max-height:60vh; overflow:auto; max-width: 70em;" class="w3-border">
    <table>
        <thead class="w3-blue-gray w3-tiny">
            <tr>
                <th data-ng-if="!ctrl.sql_app[ctrl.conf.sqlKeyName].noShow.includes(k)"
                    data-ng-repeat="(k,v) in ctrl.conf[ctrl.conf.sqlKeyName].d.list[0]"> {{k}} </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="r in ctrl.conf[ctrl.conf.sqlKeyName].d.list" class="w3-hover-shadow"
                data-ng-click="ctrl.choiseListItem(r); ctrl.selectedRowId = r[ctrl.getSql(ctrl.singlePage.UrlMap()['sql']).rowId]"
                data-ng-class="{'w3-light-grey1':r.doc_id==ctrl.getChoisedListItem(),
                'w3-card w3-light-green':ctrl.isSelectedRow(r), }">
                <td data-ng-if="!ctrl.sql_app[ctrl.conf.sqlKeyName].noShow.includes(k)"
                    data-ng-repeat="(k,v) in ctrl.conf[ctrl.conf.sqlKeyName].d.list[0]" data-am:sql:html>{{r[k]}}</td>
            </tr>
        </tbody>
    </table>
</div>